@using Apl.Entities.Domain
@using Apl.UI.Artifacts
@using Apl.UI.Helpers
@model Apl.UI.Models.LocalPasswordModel
           

@{

//    var interViewOptions = (ViewOptions)ViewBag.ViewOptions;

}


@Html.Partial("~/Views/Shared/GeneralPartial/_ModalLoadingPartial.cshtml")



@Html.Partial("~/Views/Shared/GeneralPartial/_InfoPartial.cshtml")

<section  class="myjsevent-pform">
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
        <div class="panel panel-info">
            <div class="panel-heading">
                @ViewBag.Title, @(ReflectionExtensions.MyGetPropertyDisplayName<user>(i => i.Pass))
            </div>
            <div class="panel-body">
                @Html.Raw(Html.CustomValidationSummary())
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.OldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "text-box single-line form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "text-box single-line form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box single-line form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-actions no-color">
                    <input class="btn btn-primary btn-lg" type="submit" value='@ViewBag.Title' />
                </div>
            </div>
        </div>
    }
</section>


