@using Apl.Entities.Domain
@using Apl.UI.Artifacts
@using Apl.UI.Helpers
@model Apl.UI.Models.ChangeEmailModel
           

@{

    //var interViewOptions = (ViewOptions)ViewBag.ViewOptions;

}


@Html.Partial("~/Views/Shared/GeneralPartial/_ModalLoadingPartial.cshtml")


@Html.Partial("~/Views/Shared/GeneralPartial/_InfoPartial.cshtml")

<section class="myjsevent-pform">
    @using (Html.BeginForm("ChangeEmail", "Account")) {
        @Html.AntiForgeryToken()
        <div class="panel panel-info">
            <div class="panel-heading">
                @ViewBag.Title, @(ReflectionExtensions.MyGetPropertyDisplayName<user>(i => i.Email))
            </div>
            <div class="panel-body">
                @Html.Raw(Html.CustomValidationSummary())
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Email)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Email, new { @class = "text-box single-line form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewEmail)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.NewEmail, new { @class = "text-box single-line form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-actions no-color">
                    <input class="btn btn-primary btn-lg" type="submit" value='@ViewBag.Title' />
                </div>
            </div>
        </div>
    }
</section>

