@using Apl.UI.Code52.i18n
@using Apl.UI.Models

@{
    var culture = CultureHelper.GetCurrentCulture();
}


<!DOCTYPE html>
<html lang="@culture">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Oikos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/myreset")

    <!--web fonts-->
    <link href="~/Content/css/css.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/base-carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/mystyle.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/site.css" rel="stylesheet" type="text/css" />


    @Scripts.Render("~/bundles/jquery")
    
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Scripts/jquery.PrintArea.js"></script>


    @Scripts.Render("~/bundles/bootstrap")

    @* Include the JavaScript for the current culture *@

    @* Set the current culture *@

   @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .cj-tween {
            -moz-transition-property: none !important;
        }
    </style>

</head>


@{

    if (ViewBag.ViewOptions == null)
    {
        ViewBag.ViewOptions = new ViewOptions();
    }
    
    var viewOptions = (ViewOptions)ViewBag.ViewOptions;

    var styleContent = string.Empty;
    if (!viewOptions.IsPrincipal && !viewOptions.IsSencondaryWhite)
    {
        styleContent = "background-color: #ecf0f1";
    }

    var clase = !viewOptions.IsFixed ? "mycontainer" : "fixed-width";
            
}



    <body>
        <section id="mywide">
            @(viewOptions.IsPrincipal ? Html.Partial("~/Views/Shared/Menu/_MenuPartial.cshtml") : Html.Partial("~/Views/Shared/Menu/_MenuLinePartial.cshtml"))
            <section id="body-main" style='@styleContent'>
                <section>
                    @RenderSection("featured", required: false)
                    <section class='work-content @clase'>
                        @RenderBody()
                    </section>
                </section>
            </section>
            @(viewOptions.IsPrincipal ? Html.Partial("~/Views/Shared/Footer/_FooterFWorkPartial.cshtml") : Html.Partial("~/Views/Shared/Footer/_FooterNWFWorkPartial.cshtml"))
        </section>


        
        @Scripts.Render("~/bundles/jqueryvalidate")
        




        
        @RenderSection("scripts", required: false)

        <script src="@Url.Content("~/Scripts/mios/myjs-common-base.js")"></script>

        <script type="text/javascript">
            MyCode52.Init('@culture');
        </script>


        @Scripts.Render("~/bundles/mios/myjq_common")
        
    </body>
</html>
